nav {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  height: 100px;

  a {
    color: $dark-grey;

    &:hover {
      color: $aquamarine;
    }
  }

  .nav-item {

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
